<div class="container">
  <h1>Welcome to Stretch Fitness & Nutrition</h1>

  <h3><%= link_to "Sign Up", new_user_path %></h3>
  <h3><%= link_to "New Blog Post", new_blog_path%></h3>
  <br>

  <div>
    <p>Nutrition Offerings</p>
    <ul>
      <li><%= link_to "Adults", adults_path %></li>
      <li><%= link_to "Seniors", seniors_path %></li>
      <li><%= link_to "Youth", youths_path %></li>
    </ul>
  </div>

</div>
