<div>
  <h1><%= user.name %></h1>
  <h1><%= user.age %></h1>
  <h1><%= user.current_weight %></h1>
  <h1><%= user.goal_weight %></h1>
  <h1><%= user.nutrition_goals %></h1>
  <h1><%= user.stretch_goals %></h1>
  <h1><%= user.strength_goals %></h1>
  <h1><%= user.cardio_goals %></h1>
</div>
