<div class="container">
  <h1>Name: <%= @user.name %></h1>
  <h1>Age: <%= @user.age %></h1>
  <h1>Current Weight: <%= @user.current_weight %></h1>
  <h1>Goal Weight: <%= @user.goal_weight %></h1>
  <h1>Pounds to Loose: <%= @user.goal_weight - @user.current_weight %>
  <h1>Nutrition Goals: <%= @user.nutrition_goals %></h1>
  <h1> Flexibility Goals: <%= @user.stretch_goals %></h1>
  <h1>Strength Goals: <%= @user.strength_goals %></h1>
  <h1> Cardio Goals: <%= @user.cardio_goals %></h1>


  <button><%= link_to "Add Workout", new_workout_path %></button>
  <button><%= link_to "Edit Profile", edit_user_path %></button>

  <br>

</div>
