<!DOCTYPE html>
<html>
  <head>
    <title>StretchFitnessNutrition</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if session[:user_id] != nil %>
        <div class="nav-wrapper">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Profile', user_path(session[:user_id]) %></li>
            <li><%= link_to 'Blog', blogs_path %></li>
            <li><%= link_to 'Logout', logout_path %>
          </ul>
        </div>
        <% else %>
        <div class="nav-wrapper">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Sign Up', new_user_path %></li>
            <li><%= link_to 'Login', login_path %></li>
          </ul>
        </div>
      <% end %>
    </nav>


    <%= yield %>
    <footer class="page-footer">
      <div class="container">
        <h3>Contact Us if you want to change your life!</h3>
        <ul>
          <li>Phone: 555-555-5555</li>
          <li>Email: theonekellypics@email.com</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
